* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: sans-serif;
  background: linear-gradient(to right, #f93d66, #6d47d9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

p {
  margin: 0 0 20px 0;
}
